@import url("main.css");

img {
    /*max-width: 1000px !important;*/
}

#div_imagens>div {
    /*display: flex;*/
}

#div_imagens>div {
    border-style: solid;
    border-color: #C1D3d3;
    padding: 5px;
    /*margin: 2px;*/
    border-radius: 5px;
    /*min-height: 479px;*/
}