<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Comandos - {{it.APP_NAME}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{it.APP_ICON}}">
    <link rel="stylesheet" type="text/css" href="/css/imagem-data.css">
</head>

<body> 
    {{@includeFile('../header.html', it) /}}

    <div class="row">
        {{@if(it.imagem.tags)}}
            <div class="col-sm-2">
                <div class="accordion accordion-FE4278" id="accordionExample{{it.idimagem}}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{it.idimagem}}" aria-expanded="true" aria-controls="collapseOne{{it.idimagem}}">
                        Tags 
                        </button>
                        </h2>
                        <div id="collapseOne{{it.idimagem}}" class="accordion-collapse collapse show bg-0A1725" aria-labelledby="headingOne" data-bs-parent="#accordionExample{{it.idimagem}}">
                        <div class="accordion-body ">
                            {{@each(it.imagem.tags) => tag}}
                                <a class="badge bg-dark break-word" href="/bd/bd-tag/imagens/{{tag.idtag}}">
                                    {{tag.descricao}}
                                </a>
                            {{/each}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6 ">
                    <a href="{{it.imagem.url}}" target="_blank" class="btn btn-00FFFF"> {{ new URL(it.imagem.url).host}} <span class="badge bg-dark">{{it.imagem.width}} X {{it.imagem.height}}</span></a>
                    <a href="{{it.imagem.post}}" target="_blank" class="btn btn-00FFFF">{{it.imagem.post}}</a>
                </div>
                <div class="col-sm-6">
                    <button class='btn btn-danger btn-sm btn-consultar-post' data-href="/bd/source/{{it.imagem.idimagem}}" data-imagem="{{JSON.stringify(it.imagem)}}">Consultar Post</button>
                </div>
            </div>    

            <div class="row" >
                <div class="col-sm-12">
                    {{@if( it.imagem.video_url )}}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{it.imagem.video_url}}"  width="{{it.imagem.width}}" height="{{it.imagem.height}}" allowfullscreen ></iframe>
                        </div>
                    {{#else}}
                        ​<picture>
                            <img src="{{it.imagem.url}}" class="image img-fluid" alt="{{it.imagem.name}}" width="{{it.imagem.width}}" height="{{it.imagem.height}}" >
                        </picture>
                    {{/if}}

                    
                    
                </div>
            </div>
            <br>
           
            
            
        </div>

        <div class="col-sm-2">
            <div class="accordion accordion-FE4278" id="accordionExampleReddit">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneReddit">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneReddit" aria-expanded="true" aria-controls="collapseOneReddit">
                    Reddits
                    </button>
                    </h2>
                    <div id="collapseOneReddit" class="accordion-collapse collapse show bg-0A1725" aria-labelledby="headingOneReddit" data-bs-parent="#accordionExampleReddit">
                    <div class="accordion-body ">
                        {{@each(it.imagem.reddit) => reddit}}
                            <div class="card bg-dark mb-2">
                                <div class="card-body break-word d-grid gap-2">
                                    <span class="badge bg-dark break-word">
                                        {{reddit.files}} Fotos
                                    </span>
                                    <a href="https://www.reddit.com/r/{{reddit.subreddit}}" class="btn btn-00FFFF" target="_blank">r/{{reddit.subreddit}}</a>
                                    <a href="https://www.reddit.com/r/{{reddit.subreddit}}/comments/{{reddit.name.substr(3)}}" class="btn btn-00FFFF" target="_blank">{{reddit.name}}</a>
                                </div>
                          </div>
                        {{/each}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="/js/comandos.js"></script>
</html>