<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Imagens - {{it.APP_NAME}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{it.APP_ICON}}">
    <link rel="stylesheet" type="text/css" href="/css/comandos.css">
</head>

<body>
    {{@includeFile('../header.html', it) /}}
    <div class="card">
      <div class="card-body">
          <h5 class="card-title title">Lista de Imagens Disponíveis</u></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{it.imagens.total}} Imagens</h6>
      </div>
    </div>

    <div class="search">
        <form action="/bd/imagens/1">
          <input class="form-control" type="text" placeholder="Search" id="input-search" name="input-search" value="{{it.input_search}}">
          <button type="submit" >Pesquisar</button>
      </form>
    </div>

    {{@includeFile('../page-navigation.html', it) /}}

    <div div class="grid" id="div_imagens">
        {{@each(it.imagens.urls) => figurinha}}
        <div class='grid-item'>
            
            <a href="{{figurinha.url}}" target="_blank"> {{ new URL(figurinha.url).host}}</a>
            <div class='div-image'>
                <img class="image" src="{{figurinha.crop}}" alt="{{figurinha.name}}" srcset="" loading="lazy"/>
                <label class="d-none">{{figurinha.url}}</label>
                
                <a href="/bd/imagem/{{figurinha.idimagem}}"> Detalhes</a>
            </div>
        </div>
        {{/each}}
    </div>
    
    {{@includeFile('../page-navigation.html', it) /}}

</body>
    <script type="text/javascript" src="/js/comandos.js"></script>
</html>