<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{it.APP_NAME}}</a>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Banco de dados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/bd/imagens/1">Imagens</a></li>
              <li><a class="dropdown-item" href="/bd/bd-tags/1">Tags</a></li>
              <li><a class="dropdown-item" href="/bd/resolucoes/1">Wallpapers - PC</a></li>
              <li><a class="dropdown-item" href="/bd/upload">Upload</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reddit
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/reddit/reddits">Reddits</a></li>
              <li><a class="dropdown-item" href="/reddit/posts">Posts</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/reddit/logs">Logs</a></li>
              <li><a class="dropdown-item" href="/reddit/config">Configurações</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pixiv">Pixiv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/twitter">Twitter</a>
          </li>
          
        </ul>
        
        <form class="d-flex" action="/bd/upload" method="post">
          <input class="form-control me-2" type="text" placeholder="Url" id="url" name="url">
          <button class="btn btn-outline-success btn-FE4278" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js" integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>      
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>